<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%replace(%thread){'.*\.', ''}] %-5level %logger{2} -- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set to DEBUG to see everything, INFO for normal, WARN to reduce noise -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
